input{
    background-color: #3498db;
    border: none;
    color: wheat;
    outline: none;
    text-align: center;
}

button{
    height: 2rem;
    width: 4rem;
    background-color: red;
    color: wheat;
    outline: none;
    margin: 30px;
}