* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.chat-app {
    display: flex;
    height: 100vh;
}

 .left-view {
    width: 25%;
    background: aqua;
}

.right-view {
    width: 75%;
    background: black;
    height: 100%;
} 
 .chat-window{
    height: 90%;
    background-color: antiquewhite;
    overflow: auto;
    padding: 10px;
} 
.chat-window>.chat{
margin: 40px;
}

.chat{
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 250px; 
     clear: both;
    min-height: 30px;
}

.left{
    background: #2c3e50;
    align-items: center;
    float: right;
    text-align: center;
}

.right {
    background: #9b59b6;
    display: flex;
    align-items: center;
  padding: 5px;
  }
 
.join{
    background-color: #3498db;
    
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .leave{
    background: #e74c3c;
     width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-input-box{
    height: 10%;
    background-color: #34495e;
    display: flex;
    justify-content: flex;
    align-items: center;

}

.chat-input-box input{
    height: 60%;
    width: 80%;
    margin: auto;
    outline: none;
    border: none;
    padding: 10px;
}