*{
    margin:0;
    border:0;

}
/* .header{
    display: flex;
    justify-content: space-evenly;
    background-color: royalblue;
} */
.header {
    height: 80px;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tickets-filter{
    height: 60%;
    width: 30%;
    border-radius: 10px;
    background: #b2bec3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tickets-actions {
    height: 60%;
    width: 8%;
    background-color: #b2bec3;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.tickets-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.filter{
    height:40%;
    width: 8%;
    opacity: 0.8;
    border-radius: 5px;
}
.filter:hover{
    opacity: 1;
}
.red{
    background-color: #d63031;
}
.blue{
    background-color: #0984e3;
}
.green{
    background-color: #55efc4;
}
.yellow{
    background-color: #fdcb6e;
}
.black{
    background-color: #2d3436;
}

.tickets-actions div:hover{
    background-color: #636e72;
}
.tickets-actions i {
    font-size: 20px;
    color: #2d3436;
}
.tickets-container{
    height: calc( 100vh - 80px );
}
.ticket-text {
    /* height: 100%; */
    width: 70%;
    background-color: #b2bec3;
}
.ticket-filters {
    width: 30%;
    background-color: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ticket-modal {
    position: absolute;
    top: 35%;
    height: 300px;
    width: 400px;
    /* border: 1px solid lightgray; */
    display: flex;
    left: calc(50vw - 200px);
}
.ticket-filter {
    opacity: 0.5;
    height: 10%;
    width: 60%;
}
.selected-filter{
opacity: 1;
border :3px solid white;
}
.ticket-filter:hover{
    opacity: 1;
}
.tickets{
    padding:100px;
    width:300px;
    text-align: center;
}
.ticket-content{
    height:200px;
 
    padding-top: 30px;
    
}
.ticket-icons{
    height:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-colour{
    height: 30px;
}
.tickets-container{
    display: flex;
     flex-wrap:wrap;
    padding:30px;
}

.ticket {
    /* background: aquamarine; */
    height: 150px;
    width: 250px;
    border: 1px solid lightgray;
     margin-left:100px;
}

.ticket-header {
    height: 10%;
}

.ticket-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.ticket-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* .ticket-info div {
} */

.ticket-value {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

/* .lock{
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Lock_font_awesome.svg/1024px-Lock_font_awesome.svg.png");
} */
.lock{
  background-color: #0984e3;
	/*background:lightgrey;*/

	 background-image:url("https://isssource.com/wp-content/uploads/2020/08/081020smart-lock.png");
	/*
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	*/
}