*{
    margin:0;
    border:0;

}
/* .header{
    display: flex;
    justify-content: space-evenly;
    background-color: royalblue;
} */
.header {
    height: 80px;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tickets-filter{
    height: 60%;
    width: 30%;
    border-radius: 10px;
    background: #b2bec3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tickets-actions {
    height: 60%;
    width: 8%;
    background-color: #b2bec3;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.tickets-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.filter{
    height:40%;
    width: 8%;
    opacity: 0.8;
    border-radius: 5px;
}
.filter:hover{
    opacity: 1;
}
.red{
    background-color: #d63031;
}
.blue{
    background-color: #0984e3;
}
.green{
    background-color: #55efc4;
}
.yellow{
    background-color: #fdcb6e;
}
.black{
    background-color: #2d3436;
}

.tickets-actions div:hover{
    background-color: #636e72;
}
.tickets-actions i {
    font-size: 20px;
    color: #2d3436;
}
.tickets-container{
    height: calc( 100vh - 80px );
}
